<!DOCTYPE html>
<html>
    {{> header}}
    <body>
            <h1>{{title}}</h1>
            <p>{{ message }}</p>
            <div class="container"><a href="/">Go back home</a></div>
    </body>
</html>