<!DOCTYPE html>
<html>
    {{> header}}
    <body>
        <div class="main-container">
        <h2>{{ title }}</h2>
        <div>{{> nav}}</div>
        </div>

        {{> footer}}
    </body>
</html>